<div class="container-flex">
    <div class="row opciones">
        <div class="col-4 opcion" (click)="atacar()">
            <h1> Atacar </h1>
        </div>
        <div class="col-4 opcion" (click)="huir()">
            <h1> Huir </h1>
        </div>
        <div class="col-4 opcion">
            <h1> Inventario </h1>
        </div>
    </div>
    <div class="row opciones">
        <div class="col-4">
            <h4> <b>Info del jugador</b> </h4>
            <div class="row">
                <div class="col-6">
                    <p> <b>Nombre:</b> {{ personaje.nombre }} </p>
                    <p> <b>Clase:</b> {{ personaje.clase }} </p>
                    <p> <b>vida:</b> {{ personaje.vida.toFixed(2) }} </p>
                </div>
                <div class="col-6">
                    <p> <b>nivel:</b> {{ personaje.nivel }} </p>
                    <p> <b>exp:</b> {{ personaje.exp }} </p>
                    <p> <b>exp restante:</b> {{ personaje.expSubirLvl }} </p>
                </div>
                <div class="col-6">
                    <p> <b>armadura:</b> {{ personaje.armadura.toFixed(2) }} </p>
                    <p> <b>dmgAtaque:</b> {{ personaje.dmgAtaque.toFixed(2) }} </p>
                    <p> <b>probCrit:</b> {{ personaje.probCrit.toFixed(2) }} </p>
                </div>
                <div class="col-6">
                    <p> <b>dmgCritico:</b> {{ personaje.dmgCritico.toFixed(2) }} </p>
                    <p> <b>agilidad:</b> {{ personaje.agilidad.toFixed(2) }} </p>
                    <p> <b>precision:</b> {{ personaje.precision.toFixed(2) }} </p>
                </div>
            </div>
        </div>
        <div class="col-4 opcion bg-success" *ngIf="turnoPersonaje">
            <h1> Tu turno </h1>
        </div>
        <div class="col-4 opcion bg-danger" *ngIf="!turnoPersonaje">
            <h1> Turno del rival </h1>
        </div>
        <div class="col-4 opcion-personaje container-flex">
            <p> <b>Info del enemigo</b> </p>
            <div class="row">
                <div class="col-6">
                    <p> <b>Nombre:</b> {{ rival.nombre }} </p>
                    <p> <b>nivel:</b> {{ rival.nivel }} </p>
                </div>
                <div class="col-6">
                    <p> <b>exp:</b> {{ rival.exp }} </p>
                    <p> <b>vida:</b> {{ rival.vida.toFixed(2) }} </p>
                </div>
                <div class="col-6">
                    <p> <b>armadura:</b> {{ rival.armadura.toFixed(2) }} </p>
                    <p> <b>dmgAtaque:</b> {{ rival.dmgAtaque.toFixed(2) }} </p>
                </div>
                <div class="col-6">
                    <p> <b>probCrit:</b> {{ rival.probCrit.toFixed(2) }} </p>
                    <p> <b>dmgCritico:</b> {{ rival.dmgCritico.toFixed(2) }} </p>
                </div>
                <div class="col-6">
                    <p> <b>precision:</b> {{ rival.precision.toFixed(2) }} </p>
                    <p> <b>agilidad:</b> {{ rival.agilidad.toFixed(2) }} </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row opciones">
        <div class="col-4 opcion">
        </div>
        <div class="col-4 opcion">
        </div>
        <div class="col-4 opcion">
        </div>
    </div>
</div>