.menu-superior{
    min-height: 100px;
    width: 100%;
}

.menu-de-juego{
    min-height: 900px;
    width: 100%;
}

.menu-inferior{
    min-height: 100px;
    width: 100%;
}

.fondo{
    background-color: black;
}

.opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.opcion {
    background-color: rgb(0, 255, 255);
    border: ridge 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.opcion-personaje {
    background-color: rgb(0, 255, 255);
    border: ridge 3px;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.opcion-personaje p {
    margin: auto;
    padding: 0;
}

.opcion p {
    margin: 0; /* Agregamos esta línea para eliminar el margen predeterminado del párrafo */
}

.opcion:hover , .opcion-personaje:hover {
    background-color: blue;
    border: black 10px ridge;
    color: white;
}