.menu-superior{
    height: 100px;
    width: 100%;
}

.menu-de-juego{
    height: 600px;
    width: 100%;
}

.menu-inferior{
    height: 100px;
    width: 100%;
}

.fondo{
    background-color: black;
}